# Node modules
node_modules/

# Electron build output
build/
dist/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings (opcional)
.vscode/

# Env files (si los llegas a usar en algún punto)
.env
.env.local

# Electron-packager/electron-builder cache
*.bak
*.old

# MacOS .DS_Store y Windows Thumbs.db
.DS_Store
Thumbs.db